import tkinter as tk
import ttkbootstrap as ttk
from ttkbootstrap import Style
import requests

API_TOKEN = "your api key here"
API_URL = "your api url here"



def fetch_mistral_answer(query):
    headers = {
        "Authorization": f"Bearer {API_TOKEN}"
    }
    data = {
        "inputs":f"{query}"
    }
    response = requests.post(API_URL, headers=headers, json=data)
    
    print(f"Status Code: {response.status_code}") 
    if response.status_code == 200:
        # Parse the model's response
        return response.json()[0]['generated_text']
    else:
        print(f"Error: {response.text}")  
        return "Sorry, I am having trouble fetching the answer."
 

    

def NLP():
    user_input = entry1.get().lower()
    if user_input in ("hello", "hi"):
     label2.config(text= "Hey there I am Lunala, doing great here :)")  
    elif user_input == "what is structuralism":
        label2.config(
            text="a method of interpretation and analysis of aspects of human cognition, behaviour, culture, and experience, which focuses on relationships of contrast between elements in a conceptual system."
        )
        label2.config(wraplength=400)
    elif user_input == "what is 9+10":
     label2.config(text= "stupid, 9 + 10 equals to 19")
    else:
       uttar = fetch_mistral_answer(user_input)
       label2.config(text=uttar)
       label2.config(wraplength=600)

root = tk.Tk()
style = Style(theme="morph")
root.geometry("600x450")
root.title("Lunala")
frame = ttk.Frame(root)
frame.pack(pady=12, padx=10)
label1 = ttk.Label(frame, text="This is an Artificialy Intelligent chatbot named LUNALA, it's knowledge is still bit less so some problems might be faced.",
                   wraplength=400, font=("helvetica", 10, "italic"))
label1.pack(pady=12, padx=10)

label2 = ttk.Label(frame, text= "Hey there I'm Lunala, how may i assist you today", font=("Helvetica", 20))
label2.pack(pady=13, padx=10)

entry1 = ttk.Entry(frame, width= 30)
entry1.pack(pady=12, padx=10)

button = ttk.Button(frame, text= "SUBMIT", command= NLP)
button.pack(pady=12, padx=10)


root.mainloop()

